.container {
  margin: auto;
  width: 501px;
  height: 501px;
}

#resources-canvas {
  width: 500px;
  height: 25px;
  background: #DDD;
  color: #FFF;
}

#main-canvas {
  /* width: 500px;
  height: 500px; */
  background: #AAA;
}

#ui-canvas {
  width: 500px;
  height: 50px;
  background: #AAA;
}

.btn {
  padding: 10px;
  border: none;
  background: #000;
  color: #DDD;
  font-size: 1.3rem;
  border-radius: 4px;
  margin-bottom: 5px;
}